*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	list-style: none;
	font-family: 'poppins', sans-serif;



}
#navigator a:hover{
		background-color: #3E496D;
		color: white;
}
.navbar{
	width: 100%;
	height: 90px;
	background-color: #fee;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #000;
}
.logo{
	width: 70px;
	position: relative; 
	left: 40; top: 1;
}
.menu-icon{
	width: 30px;
	cursor: pointer;
	margin-left: 40px;

}
nav{
	flex: 1;
	text-align: right;
	position: relative;
	right: 150;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}
nav ul li a{
	text-decoration: none;
	color: black;
	font-size:13px;
}
.row{
	display: flex;
	height: 70%;
	align-items: center;
	background-image: url(../pic/island.jpg);
}
.col{
	flex-basis: 50%;
}
h1{
	color: white;
	font-size: 70px;
	text-shadow: 10px 2px 5px black;
	position: relative; 
	left: 400; top: 60;
}
h5{
	color: white;
	font-size: 100px;
	text-shadow: 10px 2px 5px black;
	position: relative; 
	left: 80; top: 80;
}

p{
	color: black;
	font-size: 17px;
	line-height: 25px;

}
.container{
	width: 100%;
	height: 70vh;
	padding: 0 8%;
}
.container h3{
	text-align: center;
	padding-top: 10%;
	margin-bottom: 60px;
	font-weight: 600;
	position: relative;
	
}
.container h3::after{
	content: ' ';
	background: #676F8C;
	width: 100px;
	height: 5px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	
}
.row1{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 50px;
	
}
.services{
	text-align: center;
	padding: 10px 10px;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	background: transparent 0.5s, background 0.5s;
}
.services i{
	font-size: 40px;
	margin-bottom: 10px;
	color:#676F8C;
}
.services h2{
	font-weight: 600;
	margin-bottom: 10px;

}
.services:hover p{
	font-size: 15px;
	margin-bottom: 10px;
	color:white;
}
.services:hover{
	background: #676F8C;
	color: #fff;
	transform: scale(1.05);
}
.services:hover i{
	color: #fff;

}
.services1{
	text-align: center;
	padding: 50px 10px;
	border-radius: 10px;
	font-size: 14px;
	cursor: pointer;
	background: transparent 0.5s, background 0.5s;
}
.services1 i{
	font-size: 40px;
	margin-bottom: 13px;
	color:#676F8C;
}
.services1 h2{
	font-weight: 600;
	margin-bottom: 10px;

}
.services1:hover p{
	font-size: 15px;
	margin-bottom: 10px;
	color:white;
}
.services1:hover{
	background: #676F8C;
	color: #fff;
	transform: scale(1.05);
}
.services1:hover i{
	color: #fff;
}

.footer
{
	background-color:gray;
	height:47%;
	width:100%;
}

.basic
{
	color:white;
	font-family:Arial;
	position:absolute;
	left:8%;
}

.places
{
	color:orange;
	font-family: Consolas;
}
.foodtxt
{
	color:white;
	font-family:Arial;
	position:absolute;
	left:32%;
}

.food
{
	color:orange;
	font-family:Consolas;
}
.thingstxt
{
	color:white;
	font-family:Arial;
	position:absolute;
	left:55%;
}

.things
{
	color:orange;
	font-family:Consolas;
}
.gettingtxt
{
	color:white;
	font-family:Arial;
	position:absolute;
	left:78%;
}

.getting
{
	color:orange;
	font-family:Consolas;
}

.copyright
{
	color:white;
	font-family:Consolas;
	position:relative;
	left:17%; top: 79%;
	font-size: 13px;
	
}
.hr{
	width: 1000;
	position: relative;
	left: 230;
}
hr{
	width: 1285;
	position: relative;
	left: -210;
}